@page
@model PoolPartyPummel.GameRoomModel
@{
    ViewData["Title"] = "GameRoom";
}

<div onclick="join('@Model.joinCode','@Model.name')" id="joiner"></div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gameHub.js"></script>