@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="text-danger">Stealing data is cool, but there's more things to life. Like not doing that, I don't even know how I would do that to be completely honest. Also why am I writing this it's not like anyone is actually going to read this. But hey, if you do, I love and respect you so much man. You really thought it would be a good idea to read the privacy policy of a hackathon project made in 22 hours but more like 6 because I like to sleep sometimes. Do you like to sleep? Haha of course you don't you silly billy, always with your not sleeping antics. Anyways I'm going to go write the rest of this website now. Buh bye. No you hang up, no seriously please hang up I am not even in the call so how could I. Hahahaha just kidding byyeeeeee</h1>
